

    <header class="header">
        <!-- Header with the logo and "Welcome to Travel Experts" -->
        <a href="/"><img src="/public/images/travel.png" height="150px"></a>
        <h1>Travel Experts</h1>
    </header>
