<!DOCTYPE html>
<html lang="en">
  <%- include('./includes/head.ejs') %>
  <body>
    <%- include('./includes/header.ejs') %>

    <h1 class="pagenotfound">404</h1>
    <p class="pagenotfound">page not found</p>
    <a href="/"><button class="button">Take Me Back Home</button></a>
  </body>
</html>
