<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/agentedit/<%= agent.id %>" method="post">
      <label for="">First Name</label>
      <input
        type="text"
        name="firstname"
        value="<%= agent.AgtFirstName %>"
      /><br />

      <label for="">Last Name</label>
      <input
        type="text"
        name="lastname"
        value="<%= agent.AgtLastName %>"
      /><br />
      <label for="">Email</label>
      <input type="text" name="email" value="<%= agent.AgtEmail %>" /><br />
      <button type="submit">Update user</button>
    </form>
    <script>
      
    </script>
  </body>
</html>
